<main class="mt-5 pt-3">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h4>User management</h4>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-between align-items-end mb-1">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">
          <i class="fas fa-plus"></i>
          <span class="ms-1">Add</span>
        </button>
        <div id="buttons_wrapper" class="btn-group">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Users
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="users-table" class="table table-striped data-table" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each users}}
                  <tr>
                    <td>{{id}}</td>
                    <td>{{username}}</td>
                    <td>{{fullname}}</td>
                    <td>{{email}}</td>
                    <td>{{avatar}}</td>
                    <td>{{phonenumber}}</td>
                    <td>{{address}}</td>
                    <td>{{#if isadmin}}Admin{{else}}-{{/if}}</td>
                    <td>
                      <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
                        data-bs-fullname="{{fullname}}" data-bs-username="{{username}}" data-bs-email="{{email}}"
                        data-bs-avatar="{{avatar}}" data-bs-phonenumber="{{phonenumber}}" data-bs-address="{{address}}"
                        data-bs-role="{{isadmin}}" data-bs-id="{{id}}">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        data-bs-id="{{id}}">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
              {{>toast-bootstrap}}
              {{>modal-edit-user}}
              {{>modal-delete-user}}
              {{>modal-add-user}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

{{#section 'script'}}
<script>
  $(document).ready(function () {
    const table = $('#users-table').DataTable({
      lengthChange: true,
      buttons: ['copy', 'excel', 'csv', 'colvis'],
      "columnDefs": [{
        "targets": [4, 6],
        "visible": false
        // "searchable": false
      }]
    });

    table.buttons().container()
      .appendTo('#buttons_wrapper');
  });
</script>
{{/section}}