<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            {{#if user}}
                                <a href="/user/logout">Log out</a>
                            {{else}}
                                <a href="/user/login">Login</a>
                                <a href="/user/signup">Sign up</a>
                            {{/if}}
                            
                            <a href="#">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
                    <a href="#"><img src="/img/header-logo.png" height="60" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                       {{#ifEquals status "Home"}}
                            <li class="active"><a href="/">Home</a></li>
                        {{else}}
                            <li><a href="/">Home</a></li>
                        {{/ifEquals}}

                        {{#ifEquals status "Shop"}}
                            <li class="active"><a href="/shop?page=1">Shop</a></li>
                        {{else}}
                            <li><a href="/shop?page=1">Shop</a></li>
                        {{/ifEquals}}

                        {{#ifEquals status "Contact"}}
                            <li class="active"><a href="/contact">Contact</a></li>
                        {{else}}
                            <li><a href="/contact">Contact</a></li>
                        {{/ifEquals}}

                        {{#ifEquals status "About Us"}}
                            <li class="active"><a href="/about">About Us</a></li>
                        {{else}}
                            <li><a href="/about">About Us</a></li>
                        {{/ifEquals}}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                    <a href="#"><img src="/img/icon/shopping-cart.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->
