<div class=" container light-style flex-grow-1 container-p-y">
    <h4 class="profile-title font-weight-bold py-3 mb-4">
        Account settings
    </h4>
    <div class="card overflow-hidden">
        <div class="profile-container row no-gutters row-bordered row-border-light">
            <div class="profile-list-group col-md-3 pt-0">

                <div class="list-group list-group-flush account-settings-links">
                    <a class="profile-list-group-item list-group-item list-group-item-action active" data-toggle="list"
                        href="#account-general">General</a>
                    <a class="profile-list-group-item list-group-item list-group-item-action" data-toggle="list"
                        href="#account-change-password">Change password</a>
                    <a class="profile-list-group-item list-group-item list-group-item-action" data-toggle="list"
                        href="#account-connections">Account connections</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <div class="profile-card card-body media align-items-center">
                            {{#if user.avatar}}
                            <img src="{{user.avatar}}" alt class="d-block ui-w-80">
                            {{else}}
                            <img src="img/default_avatar.png" alt class="d-block ui-w-80">
                            {{/if}}

                            <div class="media-body ml-4">
                                <label class="btn btn-primary">
                                    Upload new photo
                                    <input type="file" class="account-settings-fileinput" id="avatar" name="avatar">
                                </label> &nbsp;
                                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800KB</div>
                            </div>
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body">
                            {{!-- <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control mb-1" value="nmaxwell">
                            </div> --}}
                            <label for="username" class="form-label">
                                Username:
                            </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-circle-user"></i>
                                </span>
                                <input type="text" required class="form-control" name="username" id="username"
                                    value="{{user.username}}" readonly>
                            </div>


                            <label for="fullname" class="form-label">Fullname: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-circle-user"></i>
                                </span>
                                <input type="text" required class="form-control" name="fullname" id="fullname"
                                    value="{{user.fullname}}">
                            </div>

                            <label for="email" class="form-label">Email: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="email" required class="form-control" name="email" id="email"
                                    value="{{user.email}}">
                            </div>

                            <label for="phonenumber" class="form-label">Phone: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-square-phone-flip"></i>
                                </span>
                                <input type="text" required class="form-control" name="phonenumber" id="phonenumber"
                                    value="{{user.phonenumber}}">
                            </div>

                            <label for="address" class="form-label">Address: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                <input type="text" required class="form-control" name="address" id="address"
                                    value="{{user.address}}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-change-password">
                        <div class="card-body pb-2">
                            <div class="separator">
                                <h4 class="hidden-error"></h4>
                            </div>

                            <label for="cur_password" class="form-label">Current password: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="password" required class="form-control" name="cur_password"
                                    id="cur_password">
                            </div>

                            <label for="new_password" class="form-label">New password: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="password" required class="form-control" name="new_password"
                                    id="new_password">
                            </div>

                            <label for="retype_password" class="form-label">Retype password: </label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="password" required class="form-control" name="retype_password"
                                    id="retype_password">
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="account-connections">
                        {{#if userBalance}}
                        <label for="balance" class="form-label">
                            Balance:
                        </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-dollar-sign"></i>
                            </span>
                            <input type="text" required class="form-control" name="balance" id="balance"
                                value="{{userBalance}}" readonly>
                        </div>
                        {{else}}
                        <h3>🧧🧧🧧 Super gift !!! Ends on <strong> January 30th, 2024.</strong></h3>
                        <h4>🎁🎁🎁 You don't have any account in our payment system.</h4>
                        <h4>🎁🎁🎁 Make a new one to get 1000$ for free !</h4>
                        <h4>🗝️🗝️🗝️ Ensure to remember your PIN Code</h4>

                        <label for="pincode" class="form-label">PIN Code: </label>
                        <div class="input-group" style="margin: 10px 0;">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="password" required class="form-control" name="pincode" id="pincode">
                        </div>

                        <button type="button" class="btn btn-primary" id="create-new-account-btn">Create now</button>
                        {{/if}}

                        <hr class="border-light m-0">


                    </div>
                </div>
            </div>
            <div class="text-right mt-3 mb-3">
                <button type="button" class="btn btn-primary" id="submit-profile-btn">Save changes</button>&nbsp;
                <a type="button" class="btn btn-default" href="/">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    function getCurrentClickedSection() {
        let sectionList = document.querySelectorAll(".profile-list-group-item");
        let chosenSection = "";

        sectionList.forEach(ele => {
            if (ele.classList.contains("active")) {
                chosenSection = ele.innerText;
            }
        });

        return chosenSection;
    }

    async function handlePostingGeneralChanges() {
        let data = new FormData();

        data.append("username", $("#username").val());
        data.append("fullname", $("#fullname").val());
        data.append("email", $("#email").val());
        data.append("address", $("#address").val());
        data.append("phonenumber", $("#phonenumber").val());
        data.append("avatar", $("#avatar")[0].files[0]);

        let updatedUser = await $.ajax({
            url: "/profile/update/general",
            method: "POST",
            contentType: false,
            processData: false,
            data: data
        });

        if (updatedUser) {
            window.location.replace('https://localhost:3000/profile')
        } else {
            alert("Username is already existed !");
        }
    }

    async function handlePostingPasswordChange() {
        let data = {
            curPassword: $("#cur_password").val(),
            newPassword: $("#new_password").val(),
        }

        let retypePassword = $("#retype_password").val();

        if (data.curPassword == data.newPassword) {
            $(".hidden-error").text("The new password cannot be the same as the old password !");
            $(".hidden-error").addClass("visible");
            return;
        } else if (data.newPassword != retypePassword) {
            $(".hidden-error").text("The retype password is not the same as the new password !");
            $(".hidden-error").addClass("visible");
            return;
        }

        $('.hidden-error').removeClass('visible');

        let updatedUser = await $.ajax({
            url: "/profile/update/password",
            method: "POST",
            data: {
                data: data
            },
        });

        if (updatedUser) {
            alert("The password is changed SUCCESSFULLY!");
        } else {
            alert("Password change FAILED, keep old password!");
        }
    }

    $("#submit-profile-btn").on("click", (e) => {
        let chosenSection = getCurrentClickedSection();

        if (confirm(`Are you sure to save changes in the ${chosenSection} section ? You cannot redo that change.`)) {
            if (chosenSection == "General") {
                handlePostingGeneralChanges();
            } else if (chosenSection == "Change password") {
                handlePostingPasswordChange();
            }
        }
    });

    $('#create-new-account-btn').on("click", async (e) => {
        let data = {
            pincode: $('#pincode').val(),
        };

        let createdAccount = await $.ajax({
            url: "/profile/create",
            method: "POST",
            dataType: "json",
            data: data,
        });

        if (!createdAccount) {
            alert("Error creating new account !");
            return;
        }

        window.location.replace('https://localhost:3000/profile');
    });
</script>