<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cartLists}}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="{{this.productImage}}" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{this.productName}}</h6>
                                        <h5>${{this.productPrice}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="{{this.quantity}}">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__size">
                                    <select id="select-size">
                                        {{#each this.sizes}}
                                        {{#ifEquals ../selectedSizeIndex this.index}}
                                        <option selected value="{{this.size}}">{{this.size}}</option>
                                        {{else}}
                                        <option value="{{this.size}}">{{this.size}}</option>
                                        {{/ifEquals}}
                                        {{/each}}
                                    </select>
                                </td>

                                <td class="cart__color">
                                    <select id="select-color">
                                        {{#each this.colors}}
                                        {{#ifEquals ../selectedColorIndex this.index}}
                                        <option selected value="{{this.colorId}}">{{this.colorText}}</option>
                                        {{else}}
                                        <option value="{{this.colorId}}">{{this.colorText}}</option>
                                        {{/ifEquals}}
                                        {{/each}}
                                    </select>
                                </td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#" class="custom_hover_bg_light_gray">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn ">
                            <a href="#" class="custom_hover_bg_light_black"><i class="fa fa-spinner"></i> Update
                                cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit" class="custom_hover_bg_light_black">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>$ 169.50</span></li>
                        <li>Total <span>$ 169.50</span></li>
                    </ul>
                    <a href="#" class="primary-btn custom_hover_bg_light_black">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->