<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <span tag="{{productId}}">Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        {{#each thumbImageList}}
                        {{#ifEquals this.tabId 1}}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-{{this.tabId}}" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{this.image}}">
                                </div>
                            </a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-{{this.tabId}}" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{this.image}}">
                                </div>
                            </a>
                        </li>
                        {{/ifEquals}}
                        {{/each}}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-{{video.tabId}}" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{video.productVideoThumbImage}}">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        {{#each bigImageList}}
                        {{#ifEquals this.tabId 1}}
                        <div class="tab-pane active" id="tabs-{{this.tabId}}" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="{{this.image}}" alt="">
                            </div>
                        </div>
                        {{else}}
                        <div class="tab-pane" id="tabs-{{this.tabId}}" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="{{this.image}}" alt="">
                            </div>
                        </div>
                        {{/ifEquals}}
                        {{/each}}

                        <div class="tab-pane" id="tabs-{{video.tabId}}" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="{{video.productVideoBigImage}}" alt="">
                                <a href="{{video.productVideo}}" class="video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>{{productName}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        <h3>${{productPrice}} <span></span></h3>
                        <div class="product__details__option">
                            <div class="product__details__option__size">
                                <span>Size:</span>
                                {{#each sizes}}
                                {{#ifEquals this.index 0}}
                                <label class="active" for="size-{{this.size}}" tag="{{this.size}}">{{this.size}}
                                    <input type="radio" id="size-{{this.size}}" tag="{{this.size}}" checked="true">
                                </label>
                                {{else}}
                                <label for="size-{{this.size}}" tag="{{this.size}}">{{this.size}}
                                    <input type="radio" id="size-{{this.size}}" tag="{{this.size}}">
                                </label>
                                {{/ifEquals}}
                                {{/each}}
                            </div>
                            <div class="product__details__option__color">
                                <span>Color:</span>
                                {{#each colors}}
                                {{#ifEquals this.index 0}}
                                <label class="{{this.color}}" for="sp-{{this.index}}" tag="{{this.color}}">
                                    <input checked="true" type="radio" name="color-button" tag="{{this.color}}"
                                        id="sp-{{this.index}}">
                                </label>
                                {{else}}
                                <label class="{{this.color}}" for="sp-{{this.index}}" tag="{{this.color}}">
                                    <input type="radio" name="color-button" id="sp-{{this.index}}" tag="{{this.color}}">
                                </label>
                                {{/ifEquals}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            <button id="btn-add-to-cart" class="primary-btn custom_hover_bg_light_black">Add To
                                Cart</button>
                        </div>
                        <div class="product__details__btns__option">
                            <a class="custom_hover_bg_light_gray rounded-8 p-1" href="#"><i class="fa fa-heart"></i> Add
                                To Favorite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                    Previews(5)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                    information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    {{{productDescription}}}
                                    {{!-- <p class="note"></p>
                                    <div class="product__details__tab__content__item">
                                        <h5></h5>
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="product__details__tab__content__item">
                                        <h5></h5>
                                        <p></p>
                                    </div> --}}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="product__details__tab__content__item">
                                        <h5>Previews</h5>
                                        {{!-- Start preview comments --}}
                                        <section style="background-color: #eee;">
                                            <div class="container my-5 py-5">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-md-12 col-lg-10 col-xl-10">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-start align-items-center">
                                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                                                        alt="avatar" width="60" height="60" />
                                                                    <div>
                                                                        <h6 class="fw-bold text-dark mb-1">Lily Coleman
                                                                        </h6>
                                                                        <p class="text-muted small mb-0">
                                                                            Shared publicly - Jan 2020
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <p class="mt-3 mb-4 pb-2">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                                                    elit, sed do eiusmod
                                                                    tempor incididunt ut labore et dolore magna aliqua.
                                                                    Ut enim ad minim veniam,
                                                                    quis nostrud exercitation ullamco laboris nisi ut
                                                                    aliquip consequat.
                                                                </p>

                                                                <div class="small d-flex justify-content-start">
                                                                    <a href="#!" class="d-flex align-items-center me-3">
                                                                        <i class="far fa-thumbs-up me-2"></i>
                                                                        <p class="mb-0">Like</p>
                                                                    </a>
                                                                    <a href="#!" class="d-flex align-items-center me-3">
                                                                        <i class="far fa-comment-dots me-2"
                                                                            style=""></i>
                                                                        <p class="mb-0">Comment</p>
                                                                    </a>
                                                                    <a href="#!" class="d-flex align-items-center me-3">
                                                                        <i class="fas fa-share me-2"></i>
                                                                        <p class="mb-0">Share</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer py-3 border-0"
                                                                style="background-color: #f8f9fa;">
                                                                <div class="d-flex flex-start w-100">
                                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                                                        alt="avatar" width="40" height="40" />
                                                                    <div class="form-outline w-100">
                                                                        <textarea class="form-control"
                                                                            id="textAreaExample" rows="4"
                                                                            style="background: #fff; padding: 20px;"></textarea>
                                                                        <label class="form-label"
                                                                            for="textAreaExample">Message</label>
                                                                    </div>
                                                                </div>
                                                                <div class="float-end mt-2 pt-1">
                                                                    <button type="button"
                                                                        class="btn btn-dark btn-sm">Post
                                                                        comment</button>
                                                                    <button type="button"
                                                                        class="btn btn-outline-dark btn-sm">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {{!-- End preview comments --}}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    {{{productAdditionalInformation}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Shop Details Section End -->

<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart"><img src="img/icon/red-shopping-cart.png" alt=""> Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
                        <ul class="product__hover">
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-4">
                                <input type="radio" id="pc-4">
                            </label>
                            <label class="active black" for="pc-5">
                                <input type="radio" id="pc-5">
                            </label>
                            <label class="grey" for="pc-6">
                                <input type="radio" id="pc-6">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Section End -->

{{!-- Start shop-detail script --}}
<script>
    $(document).ready(function () {
        $('#btn-add-to-cart').click(function () {
            // Get the current URL
            let currentURL = window.location.href;

            // Create a URL object
            let url = new URL(currentURL);
            let api = url.origin + '/shop/api/post/add-cart';

            let size = parseFloat($('.product__details__option__size .active').attr('tag'));
            let color = $('.product__details__option__color input:checked').attr('tag');
            let quantity = parseInt($('.quantity input').val());
            let productId = parseInt($('.product__details__breadcrumb span').attr('tag'));

            let formData = {
                size: size,
                color: color,
                quantity: quantity,
                productId: productId,
            };
            $.ajax({
                url: api,
                method: "POST",
                data: formData,
                // Display data
                success: function (response) {
                    Toastify({
                        text: response.message,
                        duration: 3000,
                        newWindow: true,
                        close: false,
                        gravity: "top", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            width: "250px",
                            background: "linear-gradient(to right, #00b09b, #96c93d)",
                        },
                        onClick: function () { } // Callback after click
                    }).showToast();
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        });
    });

</script>

{{!-- End shop-detail script--}}