<h1>Welcome to shoe payment server !</h1>

<div class="home-container">
    <h2>Admin: </h2>
    <table class="table table-success table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Admin ID</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {{#if admin}}
            <tr>
                <th scope="row">0</th>
                <td>{{admin.id}}</td>
                <td>{{admin.balance}}</td>
            </tr>
            {{else}}
            <h4>There is not any admin in database !</h4>
            {{/if}}
        </tbody>
    </table>

    <div class="separator-div"></div>

    <h2>Account list: {{accList.length}}</h2>

    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account ID</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {{#each accList}}
            <tr>
                <th scope="row">{{@key}}</th>
                <td>{{this.id}}</td>
                <td>{{this.balance}}</td>
            </tr>
            {{else}}
            <h4>There is not any account in database !</h4>
            {{/each}}
        </tbody>
    </table>

    <div class="separator-div"></div>


    <h4 class="hidden-error"></h4>
    <form id="payment-form" action="/payment" method="POST">
        <label for="payment-account-id" class="form-label">
            Choose account id to make payment:
        </label>
        <div class="input-group">
            <input type="number" required class="form-control" name="payment_account_id" id="payment-account-id">
        </div>

        <label for="payment-amount" class="form-label">
            Input amount to make payment
        </label>
        <div class="input-group">
            <input type="number" required class="form-control" name="payment_amount" id="payment-amount">
        </div>


        <div class="button-row">
            <button type="button" class="btn btn-primary" id="handle-payment-btn">
                Make Payment
            </button>
        </div>

    </form>

    <div class="separator-div"></div>


    <h2>Transaction list: {{transList.length}}</h2>

    <table class="table table-primary table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Account ID</th>
                <th scope="col">Create Date</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each transList}}
            <tr>
                <th scope="row">{{@key}}</th>
                <td>{{this.id}}</td>
                <td>{{this.accountID}}</td>
                <td>{{this.createDate}}</td>
                <td>{{this.amount}}</td>
            </tr>
            {{else}}
            <h4>There is not any transaction in database !</h4>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $('#handle-payment-btn').click(async (e) => {
        let data = {
            payment_account_id: $('#payment-account-id').val(),
            payment_amount: $('#payment-amount').val(),
        }

        if (data.payment_amount <= 0) {
            $('.hidden-error').addClass('visible');
            $('.hidden-error').text("Cannot make payment with a negative amount !");
            return;
        }

        let accountData = await $.ajax({
            method: 'GET',
            url: '/account/list',
            dataType: 'json',
        });

        if (!accountData) {
            $('.hidden-error').addClass('visible');
            $('.hidden-error').text("There is no account in database!");
            return;
        }

        for (let i = 0; i < accountData.length; i++) {
            let acc = accountData[i];
            console.log("Cur account id: " + acc.id);

            if (parseInt(acc.id) == parseInt(data.payment_account_id)) {
                console.log("Hit the account's id: ", acc.id);
                //Valid account
                if (parseInt(acc.balance) >= parseInt(data.payment_amount)) {
                    //The balance is available for the payment amount
                    $('.hidden-error').removeClass('visible');
                    $('#payment-form').submit();
                    return;
                } else {
                    //The balance is not
                    $('.hidden-error').addClass('visible');
                    $('.hidden-error').text("The account's balance is not available for the payment transaction.");
                    return;
                }
            } else {
                //Invalid account
                $('.hidden-error').addClass('visible');
                $('.hidden-error').text("Invalid input account's id !");
            }
        }
    });
</script>